.cart-header{
    padding: 10px;
}

.product-container{
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.checkout-container{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.orderSummary-container{
    height: 90%;
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkout-container h4 {
    margin-top: 10px;
    text-align: center;
}

.orderSummary-container .orderSummary {
    width: 90%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: auto;
}

.checkout-buttons{
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin-top: 10px;
}

.total-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.quantity-container input{
    text-align: center;
    width: 40px;
}

.order-summaryItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

@media (max-width: 1804px)
{
    .checkout-buttons{
        display: black;
        width: 90%;
        justify-content: space-between;
        margin-top: 30px;
    }
}